@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    opacity: 0;
    width: 0;
    height: 0;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
    margin-bottom: 30px;
}

.page {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

/* hero */
#hero {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), url("/images/one.jpg"); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.fv1 {
    font-size: calc(100vh / 100vw);
    font-style: oblique;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

button {
    min-width: 100px;
    cursor: pointer;
}

.logo {
    width: 70%;
    max-width: 300px;
}

#hero p {
    width: 60%;
    max-width: 540px;
    padding: 6px;
    text-shadow: 0 0 1px black;
}

button#enquiry_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 9px;
    letter-spacing: 2px;
    color: white;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color: red;
}

#footer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form {
    width: fit-content;
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 9px;
}

form * {
    margin: 3px;
    padding: 3px;
}

form button {
    margin-top: 12px;
    color: white;
    padding: 3px 6px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: limegreen;
}

#gallery {
    width: 100vw;
    overflow: hidden;
    flex-direction: row;
    gap: 18px;
}

.card {
    min-width: 270px;
    min-height: 330px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 9px solid white;
    box-shadow: 0 0 4px grey;
}

.card span {
    width: calc(99% - 6px);
    padding: 3px;
    text-align: center;
    background: linear-gradient(#ffffff30, #ffffff30);
}

/* mobiles */
@media only screen and (max-width: 500px) {
    * {
        font-size: small;
    }

    form input {
        width: calc(100vw / 1.9);
    }

    #gallery {
        overflow-x: scroll;
        justify-content: start;
        scroll-snap-type: x mandatory;
    }

    .card {
        scroll-snap-align: center;
    }

    .card:first-of-type {
        margin-left: 90px;
    }

    .card:last-of-type {
        margin-right: 90px;
    }

    #footer div {
        width: 81%;
    }

}

/*  */
