#form {
    z-index: 9;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}

#form.open {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
}

form {
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    padding: 9px;
}

form * {
    margin: 3px;
    padding: 3px;
}

form button {
    margin-top: 12px;
    align-self: flex-start;
    color: white;
    border: 1px solid;
    background-color: limegreen;
}
