#gallery {
    flex-direction: row;
    gap: 18px;
}

.card {
    min-width: 270px;
    min-height: 330px;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    border: 9px solid white;
    box-shadow: 0 0 4px grey;
}

.card span {
    width: calc(99% - 6px);
    padding: 3px;
    text-align: center;
    background-color: #fff;
}
