/* color palatte */
:root {
    --clr-1: white;
    --clr-2: #000000f3;
    --clr-3: tomato;
}

html,
body {
    width: 100vw;
}

input {
    padding: 3px 9px;
    border: none;
    outline: none;
}

button {
    width: fit-content !important;
    background-color: transparent;
    padding: 6px 24px;
    border: 1px solid;
    border-radius: 3px;
    margin: 6px;
}

.icon_btn {
    padding: 5px 6px;
    line-height: 100%;
    background: none;
}

.icon_btn img {
    max-width: 15px;
}

button:hover {
    background-color: tomato;
    color: white;
}

/* header */
header input {
    padding: 6px 9px;
    border: 1px solid;
    border-radius: 6px;
}

/* Sortable tables */
table.sortable thead {
    font-weight: bold;
    cursor: pointer;
}

table.sortable * th,
table.sortable * td {
    min-width: 100px;
}




/*  */
/* print  */
/*  */
:root {
    --width: 790;
    --height: 1000;
}

#print * {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

#print {
    display: none;
}

#A4 {
    width: var(--width)px !important;
    height: var(--height)px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#print * form {
    margin: 18px;
}

#heading {
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
}

#heading img {
    width: 80%;
    max-width: 180px;
}

form p.hr {
    width: 100%;
    height: 2px;
    margin: 9px 0;
    background-color: black;
}


label {
    display: flex;
    margin: 18px 9px;
    align-items: center;
}

label input,
label textarea {
    margin-left: 9px;
    border-bottom: 1px solid;
}

input[type="radio"] {
    margin-right: 6px;
}

form>span {
    display: flex;
}

.space {
    justify-content: space-between;
}

.col {
    flex-direction: column;
}

#sign {
    min-width: 150px;
    min-height: 60px;
    max-width: 300px;
    max-height: 120px;
    border: 1px solid;
}

#photo {
    min-width: 150px;
    min-height: 150px;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid;
}
