/* color palatte */
:root {
    --clr-1: white;
    --clr-2: #000000f3;
    --clr-3: tomato;
}

html,
body {
    width: 100vw;
}

input {
    padding: 3px 9px;
    border: none;
    outline: none;
}

button {
    width: fit-content !important;
    background-color: transparent;
    padding: 6px 24px;
    border: 1px solid;
    border-radius: 3px;
    margin: 6px;
}

.icon_btn {
    padding: 5px 6px;
    line-height: 100%;
    background: none;
}

.icon_btn img {
    max-width: 15px;
}

button:hover {
    background-color: tomato;
    color: white;
}

/* header */
/* header {
    display: grid;
    place-items: center;
} */

header {
    margin: 9px 0 0 9px;
}

header input {
    padding: 6px 9px;
    border: 1px solid;
    border-radius: 6px;
}

/* Sortable tables */
table.sortable thead * {
    font-weight: lighter;
    cursor: pointer;
}

table.sortable {
    border-collapse: collapse;
}

table.sortable * th,
table.sortable * td {
    min-width: 100px;
    padding: 0 9px;
    /* border: 1px solid rgba(0, 0, 0, .5); */
}

tr.hide {
    display: none;
}

tr td:first-child,
tr td:last-child {
    text-align: center;
}

a {
    text-decoration: none;
    color: currentColor;
}

#print {
    display: none;
}


@media (max-width: 700px) {

    #dwnbtn,
    #dwnbtn+a button {
        padding: 9px 15px;
    }

}
